<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta name="viewport" content="width=device-width,initial-scale=1.0" />
        <link href="signin.css" rel="stylesheet" type="text/css">
        <title>YU網站</title>  
    </head>
    <body>
        <div class="menu-set">
            <div>歡迎光臨，這是會員頁</div>  
        </div>
        <div class="text">恭喜您，成功登入會員系統</div>
        <div class="text2"><a href="/signout">登出系統</div>
    </body>
</html>